
*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*Setting exact value of padding*/
}
nav a:first-child {
  margin-left: 150px; 
}
nav a {
  margin: 0 15px;
}
.Top-bar { 
background-color: rgb(242, 219, 129); 
padding: 20px; 
width:100%;
}

#SearchIcon {
    float:right;
    width:20px;
    height:20px;
    margin-top: -15px;
}
body {
  background-color:#EDC590; 
}
.MyAcc{
    display:flex;
    flex-direction: column;
}
.AboutUs{
    display:flex;
    flex-direction: column;
    margin-left:425px ;
    margin-top: -53px;
}
 /* Styles only the footer with this class */ 
.Bottom-bar { 
background-color: hsl(48, 81%, 73%);
text-align: left;
padding: 15px;
}

#SocialMedia{
  float:right;
  margin-top: -70px;
  height:30%;
  width: 60%;
}

